extends ../base/_skeleton

block variables
	-
		pageName = 'Home #4',
				menu = menuHome,
				style = 'base-2';

block page
	+rd-navbar.context
	
	include ../section/_intro-4
	include ../section/_icons
	include ../section/_features-4
	include ../section/_pricing-plans-3
	include ../section/_how-it-work-3
	include ../section/_testimonials-2
	include ../section/_our-partners-2
	include ../section/_get-in-touch-3
