include ../blurb/_blurb

// Features
section.section.section-xl.position-relative.pt-0
	svg.image-svg.image-svg-1.position-absolute.d-none.d-xl-block( width='1920', height='418', viewBox='0 0 1920 418', fill='none')
		path(d='M-10 77.1127C73.5216 223.941 358.342 431.331 485.013 416.219C611.685 401.106 670.151 293.544 812 287.5C953.849 281.456 1017 437.5 1173.5 394.5C1330 351.5 1379 47.5 1920 0.5' stroke='#CBD7E6')
	.container.position-relative
		.bg-layer-3
			svg.image-svg(width='1920', height='792', viewBox='0 0 1920 792', fill='none')
				path(d='M106.46 56.7482C97.5 56.7482 90.08 59.1282 84.2 63.8882C78.6 68.6482 75.8 75.5082 75.8 84.4682C75.8 93.4282 78.46 100.708 83.78 106.308C89.1 111.628 95.96 115.828 104.36 118.908C113.04 121.708 122.56 124.508 132.92 127.308C143.56 129.828 154.06 133.048 164.42 136.968C174.78 140.608 184.16 145.228 192.56 150.828C201.24 156.428 208.24 164.408 213.56 174.768C218.88 184.848 221.54 197.028 221.54 211.308C221.54 236.228 211.32 257.648 190.88 275.568C170.72 293.208 143.98 302.028 110.66 302.028C77.62 302.028 50.88 294.048 30.44 278.088C10.28 262.128 0.200001 239.448 0.200001 210.048H76.64C78.6 233.568 90.64 245.328 112.76 245.328C123.12 245.328 131.24 242.668 137.12 237.348C143 231.748 145.94 224.748 145.94 216.348C145.94 207.948 143.28 201.088 137.96 195.768C132.64 190.448 125.64 186.248 116.96 183.168C108.56 180.088 99.04 177.288 88.4 174.768C78.04 171.968 67.68 168.608 57.32 164.688C46.96 160.768 37.44 156.148 28.76 150.828C20.36 145.228 13.5 137.388 8.18 127.308C2.86 116.948 0.200001 104.768 0.200001 90.7682C0.200001 63.3282 10.42 41.3482 30.86 24.8282C51.3 8.30822 77.34 0.0482287 108.98 0.0482287C140.9 0.0482287 166.66 7.32823 186.26 21.8882C205.86 36.1682 216.08 58.8482 216.92 89.9282H138.8C137.68 79.2882 134.18 71.1682 128.3 65.5682C122.7 59.6882 115.42 56.7482 106.46 56.7482ZM407.374 238.188H432.994V299.088H396.454C370.134 299.088 349.694 293.348 335.134 281.868C320.854 270.108 313.714 250.088 313.714 221.808V124.368H291.874V64.7282H313.714V7.60823H385.534V64.7282H432.574V124.368H385.534V221.808C385.534 232.728 392.814 238.188 407.374 238.188ZM611.09 302.028C576.93 302.028 548.93 291.108 527.09 269.268C505.25 247.148 494.33 217.888 494.33 181.488C494.33 145.088 505.11 116.108 526.67 94.5482C548.51 72.9882 576.65 62.2082 611.09 62.2082C645.53 62.2082 674.09 72.8482 696.77 94.1282C719.45 115.408 730.79 144.948 730.79 182.748C730.79 190.868 730.23 198.428 729.11 205.428H567.83C569.23 215.788 573.85 224.328 581.69 231.048C589.53 237.488 597.93 240.708 606.89 240.708C616.13 240.708 622.99 239.868 627.47 238.188C631.95 236.228 635.17 234.408 637.13 232.728C639.37 230.768 642.17 227.688 645.53 223.488H723.23C716.51 247.008 703.07 266.048 682.91 280.608C662.75 294.888 638.81 302.028 611.09 302.028ZM656.03 160.488C654.91 149.568 650.15 140.748 641.75 134.028C633.35 127.028 623.41 123.528 611.93 123.528C600.45 123.528 590.79 127.028 582.95 134.028C575.11 140.748 570.21 149.568 568.25 160.488H656.03ZM965.081 225.168C975.441 215.088 980.621 200.808 980.621 182.328C980.621 163.848 975.441 149.568 965.081 139.488C954.721 129.408 942.821 124.368 929.381 124.368C915.941 124.368 904.041 129.408 893.681 139.488C883.321 149.288 878.141 163.428 878.141 181.908C878.141 200.388 883.321 214.668 893.681 224.748C904.041 234.828 915.941 239.868 929.381 239.868C942.821 239.868 954.721 234.968 965.081 225.168ZM878.141 95.3882C894.101 73.2682 916.921 62.2082 946.601 62.2082C976.561 62.2082 1001.9 73.5482 1022.62 96.2282C1043.34 118.628 1053.7 147.328 1053.7 182.328C1053.7 217.328 1043.34 246.028 1022.62 268.428C1001.9 290.828 976.841 302.028 947.441 302.028C918.041 302.028 894.941 289.708 878.141 265.068V410.808H806.321V64.7282H878.141V95.3882ZM1113.02 135.288C1113.02 114.568 1121.84 97.2082 1139.48 83.2082C1157.12 69.2082 1180.92 62.2082 1210.88 62.2082C1241.12 62.2082 1265.48 69.0682 1283.96 82.7882C1302.44 96.5082 1312.24 115.268 1313.36 139.068H1239.86C1239.02 130.948 1236.22 125.488 1231.46 122.688C1226.7 119.608 1219.56 118.068 1210.04 118.068C1191.28 118.068 1181.9 123.808 1181.9 135.288C1181.9 145.648 1193.38 152.788 1216.34 156.708C1239.58 160.628 1260.72 166.648 1279.76 174.768C1289.56 178.688 1297.68 185.268 1304.12 194.508C1310.84 203.468 1314.2 214.528 1314.2 227.688C1314.2 249.528 1304.82 267.448 1286.06 281.448C1267.3 295.168 1243.64 302.028 1215.08 302.028C1186.52 302.028 1162.72 295.588 1143.68 282.708C1124.64 269.548 1114.28 250.228 1112.6 224.748H1186.1C1188.06 239.028 1198.14 246.168 1216.34 246.168C1224.74 246.168 1231.6 244.208 1236.92 240.288C1242.52 236.368 1245.32 231.328 1245.32 225.168C1245.32 219.008 1240.7 214.108 1231.46 210.468C1222.5 206.828 1211.58 203.748 1198.7 201.228C1185.82 198.708 1172.8 195.628 1159.64 191.988C1146.76 188.068 1135.7 181.488 1126.46 172.248C1117.5 162.728 1113.02 150.408 1113.02 135.288Z', fill='url(#paint1_linear)')
				defs
					lineargradient#paint1_linear(x1='-30.2098', y1='414', x2='1076.2', y2='412.898', gradientUnits='userSpaceOnUse')
						stop(offset='0', stop-color='#DEEBF6', stop-opacity='.76')
						stop(offset='1', stop-color='#DEEBF6', stop-opacity='.28')
		h2.blurb-creative-heading
			| Quick and Intuitive
			| #[br]
			| Profile Configuration
		.row.row-30.mt-lg-0
			.col-sm-6.col-lg-3.blurb-creative-item
				+blurb-creative({
					embed: '<span class="blurb-icon icon icon-circle icon-xl icon-primary icon-style-4 mdi-cursor-default"></span>',
					title: '<span class="text-primary">01.</span> Install the App',
					text:  'Neon can be installed right after it’s donwloaded from our site or the App Store in a few clicks.'
				}).blurb-creative-1
			.col-sm-6.col-lg-3.blurb-creative-item
				+blurb-creative({
					embed: '<span class="blurb-icon icon icon-circle icon-xl icon-primary icon-style-4 mdi-settings"></span>',
					title: '<span class="text-primary">02.</span> Configure Neon',
					text:  'After installation, make sure you have entered all the required data asked by Neon.'
				}).blurb-creative-2
			.col-sm-6.col-lg-3.blurb-creative-item
				+blurb-creative({
					embed: '<span class="blurb-icon icon icon-circle icon-xl icon-primary icon-style-4 mdi-chart-arc"></span>',
					title: '<span class="text-primary">03.</span> Add a Task',
					text:  'Right after that, you can add various tasks and track their completion at all stages.'
				}).blurb-creative-3
			.col-sm-6.col-lg-3.blurb-creative-item
				+blurb-creative({
					embed: '<span class="blurb-icon icon icon-circle icon-xl icon-primary icon-style-4 mdi-rocket"></span>',
					title: '<span class="text-primary">04.</span> Get Results',
					text:  'Manage your working process and get better results with Neon’s improved workflow.'
				}).blurb-creative-4
