include ../blurb/_blurb

// Features
section#features.section.section-lg.bg-transparent
	.container
		.row.row-30.gutters-xxl-60
			.col-md-3
				+blurb-boxed({
					media: 'flex-column',
					embed: '<span class="icon icon-round icon-md icon-secondary icon-style-3 mdi-cursor-default"></span>',
					title: 'User-friendly UI',
					text:  'Neon has a simple yet informative user interface.'
				})
			.col-md-3
				+blurb-boxed({
					media: 'flex-column',
					embed: '<span class="icon icon-round icon-md icon-primary icon-style-3 mdi-dice"></span>',
					title: 'Free Updates',
					text:  'We provide free & regular updates to all Neon app users.'
				})
			.col-md-3
				+blurb-boxed({
					media: 'flex-column',
					embed: '<span class="icon icon-round icon-md icon-success icon-style-3 mdi-comment"></span>',
					title: 'Friendly Support',
					text:  'Get instant qualified support from our professional team.'
				})
			.col-md-3
				+blurb-boxed({
					media: 'flex-column',
					embed: '<span class="icon icon-round icon-md icon-primary icon-style-3 mdi-reload"></span>',
					title: 'Easy Customization',
					text:  'You can fully customize the look and modules of our application.'
				})
